td {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

.game-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

body {
  height: 100%;
  text-transform: UPPERCASE;
  background-image: url("background-image.jpg");
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 1px 20px #f3e2e2;
}

button {
  text-transform: UPPERCASE;
}
div {
  text-align: center;
}

.result-display {
  padding-top: 3rem;
}

.scoreboard-container {
  display: flex;
  justify-content: center;
}

tr:nth-child(even) {
  background: #fff;
  color: #000000;
  font-family: system-ui;
  opacity: 0.8;
  text-shadow: 2px 1px 20px #f3e2e2;
}

tr:nth-child(odd) {
  background: #efefef;
  color: #000000;
  font-family: system-ui;
  opacity: 0.8;
  text-shadow: 2px 1px 20px #f3e2e2;
}

tr:nth-child(1) {
  background: #222831;
  color: #fff;
  font-family: system-ui;
  opacity: 1;
}

td:nth-child(1) {
  background: #222831;
  color: #fff;
  font-family: system-ui;
  opacity: 1;
}

table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
